.container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.header {
  text-align: center;
  margin: 20px 0;
  float: left;
}

img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.aboutMe {
  margin: 40px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.award {
  color: red;
}