.container {
  margin-top: 50px;
  text-align: center;
  column-count: 3;
  column-gap: 10%;
}

.header{
  text-align: center;

}

img {
  width: 200px;
}

.aboutMe {
  break-inside: avoid;
}

.award {
  color: red;
}